<div class="container">

	<div class="row">
	
		<form  id="registerform" class="form-horizontal">
			
			<div class="form-group">
				<label for="firstname" class="col-sm-2 col-sm-offset-3 control-label">First Name:</label>
				 <div class="col-sm-4">
					 <input type="text" class="form-control" id="firstname">
				</div>
			</div>
			
			<div class="form-group">
				<label for="lastname" class="col-sm-2 col-sm-offset-3 control-label">Last Name:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="lastname">
				</div>
			</div>
			
			<div class="form-group">
				<label for="email" class="col-sm-2 col-sm-offset-3 control-label">Email:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="email">
				</div>
			</div>
			
			<div class="form-group">
				<label for="dob" class="col-sm-2 col-sm-offset-3 control-label">Date Of Birth:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="dob" placeholder="YYYY-MM-DD">
				</div>
			</div>
			
			<div class="form-group">
				<label for="username" class="col-sm-2 col-sm-offset-3 control-label">Username:</label>
				 <div class="col-sm-4">
					 <input type="text" class="form-control" id="username">
				</div>
			</div>
			
			<div class="form-group">
				<label for="password" class="col-sm-2 col-sm-offset-3 control-label">Password:</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="password">
				</div>
			</div>
			
			<button type="submit" class="btn btn-default">Submit</button>
			
		</form>
		
	</div>
	
</div>